@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@86.8,400;100,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif,'Open Sans', sans-serif,'Poppins', sans-serif;
    list-style: none;
}

html {
  scroll-behavior: smooth;
}

.content p{
    font-size:13px;
}



.title{
  font-size: 35px;
  font-weight: 700;
  color: #0056b3;
  -webkit-text-stroke: 1px black;
  width: fit-content;
  padding: 0em 0.5em;
}

.marca{
border: solid;
 border-radius: 15px;
 margin: 0.5em;
}


.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}

.content p{
    box-shadow: 3px 3px 20px rgb(0 0 0 / 75%);
    border-radius: 15px;
    padding: 2%;
}

.grid2 img{
filter: drop-shadow(3px 3px 5px #007bff);    
}

.card{
    width: 350px;
}
.card-body {
background-color: rgb(129, 190, 255);
}

.card-text{
    font-size: 10px;
    line-height: 20px;
}

.ProfileCardPic{
    width: 350px;
}

/*783 las 3 tarjetas se alinean*/

footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}

footer h1{
    color: #fff;
    text-align: center;
}

.wrapper{
    margin-top: 2vh;
}

.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background:rgb(150, 185, 223);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button:nth-child(1){
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background: #4bc95a;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.wrapper .button:nth-child(2){
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background: #E1306C;;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}
.wrapper .button:nth-child(3){
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background: #ff0000;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.wrapper .button:hover .icon{
  background: #96b9df;
}


.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: #fff;
}
.wrapper .button:hover .icon i{
  color: #fff;
}

#logo{
  padding-left: 0rem;
}

.list{
  padding-left: 0rem;
}

.oscuridad{
  background-color:linear-gradient(rgba(5,7,12,0.55),rgba(5,7,12,0.25)),url(../fotos/SliderIMG1.png);
}




@media screen and (max-width:650px){

}


@media screen and (max-width:380px){

  .card{
    width: 300px;
}
}

@media screen and (max-width:320px){
  .card{
    width: 250px;
}
}

@media screen and (max-width:280px){
  .card{
    width: 200px;

}
}


.containerGrid {  display: grid;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "Beneficio1 Beneficio1 Beneficio1"
    "Beneficio2 . Beneficio3";
}

.Beneficio1 { grid-area: Beneficio1; }

.Beneficio2 { grid-area: Beneficio2; }

.Beneficio3 { grid-area: Beneficio3; }


.BandaGrid{
display: grid;
align-items: center;
grid-template-columns: repeat(auto-fit,minmax(100px,120px));
gap: 20px;
}

.BandaItems{
height: auto;
}



.wrapper .button2{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background:rgb(150, 185, 223);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}

.wrapper .button2 .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}

.wrapper .button2:nth-child(1){
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background: #5e81d4;;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}


.wrapper .button2:nth-child(2){
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 5px;
  overflow: hidden;
  background: rgb(219, 151, 0);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
}




.wrapper .button2:hover .icon{
  background: #96b9df;
}


.wrapper .button2 .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
  color: #fff;
}
.wrapper .button2:hover .icon i{
  color: #fff;
}


.icon .VenamchamIMG{
  width: 75px;
  height: 42px;
  padding-right: 0.7rem;
  margin-top: -0.3rem;
}

.icon .CamaraDeComercioIMG{
  width: 50px;
}